/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 *
FROM [StockslyDb].[dbo].[PurchaseOrders]

/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 *
FROM [StockslyDb].[dbo].[PurchaseOrderItems]