/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Id]
      ,[Name]
      ,[EmailAddress]
      ,[Telephone]
      ,[PostalAddress_Street]
      ,[PostalAddress_City]
      ,[PostalAddress_State]
      ,[PostalAddress_CountryId]
      ,[PostalAddress_CountryName]
      ,[CreditToken]
  FROM [StockslyDb].[dbo].[Suppliers]

  /****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Id]
      ,[Name]
      ,[EmailAddress]
      ,[Mobile]
      ,[PostalAddress_Street]
      ,[PostalAddress_City]
      ,[PostalAddress_State]
      ,[PostalAddress_CountryId]
      ,[PostalAddress_CountryName]
  FROM [StockslyDb].[dbo].[Customers]

  /****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Id]
      ,[Name]
      ,[TimeZone]
      ,[CurrencyFormat]
      ,[DateTimeFormat]
      ,[LanguagePreference]
  FROM [StockslyDb].[dbo].[Countries]

  /****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Id]
      ,[Name]
  FROM [StockslyDb].[dbo].[Categories]

  /****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Id]
      ,[Code]
      ,[DisplayName]
      ,[ReorderQuantity]
      ,[Stocks]
      ,[UnitPrice]
      ,[SupplierId]
      ,[CategoryId]
      ,[Archived]
  FROM [StockslyDb].[dbo].[Products]