/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Id]
      ,[OrderTime]
      ,[Count]
      ,[Discount]
      ,[Total]
      ,[CustomerId]
      ,[CustomerName]
      ,[CustomerEmailAddress]
      ,[CustomerMobile]
  FROM [StockslyDb].[dbo].[SalesOrders]

  /****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 [Id]
      ,[SalesOrderId]
      ,[ProductId]
      ,[ProductCode]
      ,[ProductDisplayName]
      ,[CategoryId]
      ,[Quantity]
      ,[UnitPrice]
      ,[Discount]
      ,[Total]
  FROM [StockslyDb].[dbo].[SalesOrderItems]